# Dark Souls II Reviews (2025)

In [1]:
from get_data import *

WARNING:tensorflow:From C:\Users\bdion\AppData\Roaming\Python\Python311\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
reviews = get_data()

In [3]:
reviews.update_date = pd.to_datetime(reviews["update_date"], unit='s')#.dt.date

In [4]:
reviews.head()

,review,language,init_date,update_date,in_early_access,voted_up,month_name,month,year,day
recommendationid,,,,,,,,,,
192229641,shit combat,english,1744043045,2025-04-07 16:24:05,False,False,April,4,2025,7
192226916,love hate,english,1744040588,2025-04-07 15:43:08,False,True,April,4,2025,7
192220034,good,english,1744034740,2025-04-07 14:05:40,False,True,April,4,2025,7
192217371,hour playthrough summarise experience far id s...,english,1744032076,2025-04-07 13:27:41,False,False,April,4,2025,7
192198429,fantastic lore story mood,english,1744006298,2025-04-07 06:11:38,False,True,April,4,2025,7

## Looking at reviews after DLC release:

In [5]:
dlc = reviews[reviews.review.str.contains(r'\bdlc\b')]

In [6]:
dlc.voted_up.value_counts(normalize=True)

True     0.787372
False    0.212628
Name: voted_up, dtype: float64

- Crown of the Sunken King DLC launched: 7/22/2014
- Crown of the Old Iron King DLC launched: 8/26/2014
- Crown of the Ivory King DLC launched: 9/30/2014
- Scholar of the First Sin Edition launched: 4/1/2015

In [7]:
dlc1_start = pd.Timestamp("2014-07-22")
dlc2_start = pd.Timestamp("2014-08-26")
dlc3_start = pd.Timestamp("2014-09-30")
sotfs_start = pd.Timestamp("2015-04-01")

dlc1 = reviews[(reviews["update_date"] >= dlc1_start) & (reviews["update_date"] < dlc2_start)]
dlc2 = reviews[(reviews["update_date"] >= dlc2_start) & (reviews["update_date"] < dlc3_start)]
dlc3 = reviews[(reviews["update_date"] >= dlc3_start) & (reviews["update_date"] < sotfs_start)]

In [8]:
display(dlc1, dlc2, dlc3)

,review,language,init_date,update_date,in_early_access,voted_up,month_name,month,year,day
recommendationid,,,,,,,,,,
11866591,make cry would recommend,english,1409009383,2014-08-25 23:29:43,False,True,August,8,2014,25
11866431,would cry,english,1409008288,2014-08-25 23:11:28,False,True,August,8,2014,25
11866407,love quite punish rewarding,english,1409008145,2014-08-25 23:10:25,False,True,August,8,2014,25
11866380,get eat chest,english,1409007892,2014-08-25 23:04:52,False,True,August,8,2014,25
11866150,good part easy sad,english,1409006385,2014-08-25 22:39:45,False,False,August,8,2014,25
...,...,...,...,...,...,...,...,...,...,...
9978637,solaire would recommend,english,1398857910,2014-08-24 12:26:36,False,True,August,8,2014,24
9951808,pretty good annoy bit strip major difference k...,english,1398606071,2014-08-19 16:31:00,False,True,August,8,2014,19
9931747,well graphic console version unplayable withou...,english,1398452378,2014-08-23 22:44:48,False,True,August,8,2014,23
9926264,poise noun dignify self confident manner beari...,english,1398408602,2014-08-13 03:57:36,False,True,August,8,2014,13
9923348,meh well far design go update kinda get use co...,english,1398380739,2014-08-01 09:08:40,False,False,August,8,2014,1

,review,language,init_date,update_date,in_early_access,voted_up,month_name,month,year,day
recommendationid,,,,,,,,,,
12295076,save two pound dlc worth,english,1412034618,2014-09-29 23:50:18,False,True,September,9,2014,29
12294957,quite thrill constantly throw new foe leave ri...,english,1412033643,2014-09-29 23:34:03,False,True,September,9,2014,29
12294912,got invade kill five minute later add tell git...,english,1412033447,2014-09-29 23:30:47,False,True,September,9,2014,29
12294398,hard definitely worthy call series,english,1412029448,2014-09-29 22:24:08,False,True,September,9,2014,29
12294319,best play hardcore casual player rage quit alm...,english,1412028974,2014-09-29 22:16:14,False,True,September,9,2014,29
...,...,...,...,...,...,...,...,...,...,...
9967915,rarely live hype live hype exceed hype darn go...,english,1398744748,2014-08-26 03:34:33,False,True,August,8,2014,26
9956525,casual relaxing,english,1398635305,2014-09-06 21:34:05,False,True,September,9,2014,6
9949032,buy seriously everything want sequel fun frust...,english,1398586154,2014-09-14 19:22:33,False,True,September,9,2014,14
9936072,honesty like de control felt tight imo hit box...,english,1398487549,2014-09-08 02:04:23,False,True,September,9,2014,8
9933832,interview edge producer takeshi miyazoe explai...,english,1398467184,2014-09-09 00:15:30,False,False,September,9,2014,9

,review,language,init_date,update_date,in_early_access,voted_up,month_name,month,year,day
recommendationid,,,,,,,,,,
15147943,hour still shit depth complexity superlative j...,english,1427844223,2015-03-31 23:23:43,False,True,March,3,2015,31
15147835,best evaahh,english,1427843428,2015-03-31 23:10:28,False,True,March,3,2015,31
15147426,illusory wall ahead oddball ahead moneybag req...,english,1427840944,2015-03-31 22:29:04,False,True,March,3,2015,31
15147404,bother buying entirely new version run dx come...,english,1427840809,2015-03-31 22:26:49,False,False,March,3,2015,31
15147364,liked demon love quite possibly favorite ever ...,english,1427840524,2015-03-31 22:22:04,False,True,March,3,2015,31
...,...,...,...,...,...,...,...,...,...,...
9925445,like dank,english,1398399396,2014-12-21 19:11:18,False,True,December,12,2014,21
9925356,good good one,english,1398398591,2015-03-06 22:18:37,False,True,March,3,2015,6
9924572,dlc dont work one beautiful fuffilling game ev...,english,1398390789,2014-12-15 09:42:38,False,True,December,12,2014,15
9924417,recommend people anger issue hard hell make th...,english,1398389360,2015-01-01 00:25:13,False,True,January,1,2015,1
9923090,praise sun edit,english,1398378768,2014-10-11 12:50:01,False,True,October,10,2014,11